.topButton {
  background-color: var(--primary-color);
  border: none;
  border-radius: 50%;
  bottom: 1rem;
  color: var(--text-color);
  cursor: pointer;
  height: 4rem;
  font-size: 2.2rem;
  outline: 0;
  position: fixed;
  right: 1rem;
  width: 4rem;
  z-index: 999;
}

.topButton:hover {
  box-shadow: 0px 0px 15px var(--secondary-color);
  transition: box-shadow 0.3s ease-in-out;
}
