.containerForm {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 2rem 1rem;
}

.form button {
  border: none;
  background: none;
  color: #222;
  cursor: pointer;
}
/* styling of whole input container */
.form {
  --after-border-radius: 1px;
  --border-color: #00b5cc;
  --border-height: 2px;
  --border-radius: 30px;
  --height-of-input: 40px;
  --input-bg: #dedede;
  --timing: 0.3s;
  --width-of-input: 200px;
  align-items: center;
  background: var(--input-bg, #fff);
  border-radius: var(--border-radius);
  position: relative;
  display: flex;
  height: var(--height-of-input);
  max-width: 500px;
  padding-inline: 0.8em;
  transition: border-radius 0.5s ease;
  width: 100%;
}

/* styling of Input */
.input {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  height: 100%;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  width: 100%;
}
/* styling of animated border */
.form:before {
  content: "";
  background: var(--border-color);
  border-radius: 1px;
  bottom: 0;
  height: var(--border-height);
  left: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform var(--timing) ease;
  width: 100%;
}
/* Hover on Input */
.form:focus-within {
  border-radius: var(--after-border-radius);
}

input:focus {
  outline: none;
}
/* here is code of animated border */
.form:focus-within:before {
  transform: scale(1);
}
/* styling of close button */
/* == you can click the close button to remove text == */
.reset {
  background: none;
  border: none;
  opacity: 0;
  visibility: hidden;
}
/* close button shown when typing */
input:not(:placeholder-shown) ~ .reset {
  opacity: 1;
  visibility: visible;
}
/* sizing svg icons */
.form svg {
  width: 20px;
}
