:root {
  --primary-color: #00b5cc;
  --secondary-color: #b2df28;
  --text-color: #043c48;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Patrick Hand SC", cursive;
  color: var(--text-color);
  letter-spacing: 1px;
}

/* Sobrescritura clases de bootstrap */
.active {
  color: var(--text-color) !important;
}

@media (min-width: 992px) {
  .active {
    border-bottom: 2px solid var(--text-color);
  }
}

.shadow {
  box-shadow: 0 8px 16px #00b5cc70 !important;
}
